body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url(../img/fondo.jpg);
}

main {
	flex: 1;
}

.card {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}

.card:hover {
	transform: translateY(-5px);
}

.table th {
	background-color: #f8f9fa;
}
.footer {
    background-color: #0E0B16;
    color: #E7DFDD;
}

.footer-list li {
    display: inline-block;
    margin: 0 15px;
}

.footer-list a {
    color: #E7DFDD;
    
    transition: color 0.3s ease;
    font-weight: bold;
}

.footer-list a:hover {
    color: #A239CA;
    text-shadow: 0 0 5px #4717F6;
}
